spring:
  application:
    name: coupon

  datasource:
    url: jdbc:h2:mem:coupon
    driver-class-name: org.h2.Driver
    username: admin
    password:

  h2:
    console:
      enabled: true
      path: /h2-console

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        format_sql: true
