name: UP TO DOCKER HUB

on:
  workflow_dispatch:

jobs:

  deploy:
    name: "[DEV] - Deploy image to Docker hub"
    runs-on: ubuntu-latest

    env:
      SERVICE_NAME: "coupon"
      CONTAINER_IMAGE: "washington1995luiz/coupon"
      CONTAINER_IMAGE_TO_COMPILE: "docker.io/washington1995luiz/coupon"

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Set up JDK 25
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '25'

      - name: Set Git Config
        run: |
          git config --global user.email "$(git --no-pager show -s --format='%ae')"
          git config --global user.name "$(git --no-pager show -s --format='%an')"

      - name: Login to Docker Hub
        uses: docker/login-action@v3.6.0
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Generate random tag
        id: random_tag
        run: echo "TAG=$(echo ${GITHUB_SHA::4})" >> $GITHUB_OUTPUT

      - name: Build container with Google JIB Plugin
        run: mvn compile jib:build
        env:
          IMAGE_NAME_TAG: ${{ env.CONTAINER_IMAGE_TO_COMPILE }}:${{ steps.random_tag.outputs.TAG }}
